@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Titillium+Web:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1C1C1C;
  --green: #173636;
  --black: #000;
  --pale: #EAF6F6;
}

body {
  background-color: var(--dark);
}
